.calculator {
    width: 335px;
    height: 400px;
    overflow: hidden;
    border-radius: 7px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 60px 60px 60px 60px 60px;
    background-color: #000;
}